:root {
  --task-color: #dc3e22;
  --rest-color: #a8b64f;
}

.showTask {
  width: 100%;
}

.taskHeader[data-target="task"] {
  background-color: var(--task-color);
}

.taskHeader[data-target="rest"] {
  background-color: var(--rest-color);
}

.taskName {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

.pomodoroNumber {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.title {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin: 0;
  padding: 0;
}

.emptyBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #333;
  background-color: #f4f4f4;
  box-shadow: 0 6px 100px -4px rgba(0, 0, 0, 0.2);
  padding: 100px 0 130px 0;
  transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

.emptyBlockDark {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #f4f4f4;
  background-color: #777;

  box-shadow: 0 6px 100px -4px rgba(0, 0, 0, 0.2);
  padding: 100px 0 130px 0;
  transition: color 1s ease-in-out, background-color 1s ease-in-out;
}
