.mainLayer {
  position: relative;
  display: flex;
  margin-right: 10px;
}

.pomodoroCounter {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 15px 0;
}
